/* html {background-color: #000} */

body {
    color: white;
    font-family: sans-serif;
    background-color: #000
} 

table {border: white 1px solid; margin-top: 50px}

/* table {border-color: white} */

th,td{padding: 5px}


.jediThing {margin-top: 25px}

.color {margin-top: 25px}

.submit {margin-top: 25px}